body {
color: white;
background-color: gray;
top: 10px;
}

button {
background-color: Black;
color: white;
text-decoration: none;
display: inline-block;
padding: 8px 14px;
border-radius: 5px;
}

button:hover {
background-color: red;
color: black;
}

movie{
    position: absolute;
    top: 5px;
    left: 5px;
}

div.absolute {
position: absolute;
top: 10px;
left: 1500px;
}

.boxed {
border: 5px solid red ;
}

.slider {
-webkit-appearance: none;
height: 10px;
width: 125px;
border-radius: 5px;
background: #FFFFFF;
outline: none;
opacity: 1;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 15px;
height: 15px;
border-radius: 50%;
background: #4CAF50;
cursor: pointer;

}

.slider::-moz-range-thumb {
width: 15px;
height: 15px;
border-radius: 50%;
background: #4CAF50;
cursor: pointer;
}

.center {
margin: 0;
position: absolute;
top: 20%;
left: 38%;
}

.buttons {
margin: 0;
position: absolute;
left: 630px;
}

.save {
background: #008DD8;
}

p.small{
line-height: 3;
}

.assessment{
    position: absolute;
    top: 400px;
    left: 1500px;
}

.discomfort{
    position: absolute;
    top: 600px;
    left: 1500px;
}

.answer{
    display: inline-block;
    width: 80%;
    padding: 1em 0.5em;
    line-height: 3;
    border: 1px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0.5em 0;
}

#vid{
display: flex;
align-items: center;
cursor: none;
}

.box{
    width: 1000px;
    padding: 10px 30px 25px 40px;
    background-color: white;
    color: black;
    border-radius: 12px;
}

#bottom {
position: fixed;
bottom: 1px;
width: 50%;
}

#progress-bar {
background-color: #008DD8;
width: 0%;
/* Adjust with JavaScript */
height: 15px;
border-radius: 15px;
font-size: 15px;
}
